Repository esphome/aioesphomeapi, pull requests merged in 2021-09, with the labels that each got.

#100 Add noise API transport support
  aioesphomeapi/client.py
  aioesphomeapi/connection.py
  aioesphomeapi/log_reader.py
  requirements.txt
  tests/test_connection.py
Labels: major

#97 Add support for siren entities
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/client.py
  aioesphomeapi/core.py
  aioesphomeapi/model.py
Labels: enhancement, minor

#102 Emit different Exception types to differentiate between connection errors
  aioesphomeapi/__init__.py
  aioesphomeapi/client.py
  aioesphomeapi/connection.py
  aioesphomeapi/core.py
  aioesphomeapi/host_resolver.py
Labels: minor
