Repository esphome/aioesphomeapi, pull requests merged in 2021-08, with the labels that each got.

#85 Add disabled_default to entity infos
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/model.py
Labels: minor

#90 Add new total/total_increasing state-classes for Home Assistant 2021.9+
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/model.py
Labels: minor

#93 Fix number rounding for protobuf messages
  aioesphomeapi/model.py
  aioesphomeapi/util.py
  tests/test_util.py
Labels: bugfix

#94 Fix log non-utf8 parse error
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
Labels: breaking-change

#95 Switch light colormode to be bitfields instead of enums
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/client.py
  aioesphomeapi/model.py
Labels: breaking-change
