Repository esphome/aioesphomeapi, pull requests merged in 2023-06, with the labels that each got.

#439 Add raw ble advertisements support
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/client.py
  aioesphomeapi/connection.py
  aioesphomeapi/core.py
  aioesphomeapi/model.py
Labels: major, breaking-change

#427 Add support for alarm_control_panel entities
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/client.py
  aioesphomeapi/core.py
  aioesphomeapi/model.py
  tests/test_client.py
  tests/test_model.py
Labels: minor, waiting-for-esphome

#448 Propagate if disconnect was expected to disconnect callback
  aioesphomeapi/log_reader.py
  aioesphomeapi/reconnect_logic.py
Labels: breaking-change
