Repository esphome/aioesphomeapi, pull requests merged in 2024-02, with the labels that each got.

#827 Convert functions that no longer await to be normal functions
  aioesphomeapi/client.py
  aioesphomeapi/log_runner.py
  tests/test_client.py
  tests/test_log_runner.py
Labels: major

#828 Add device_class to text_sensor in ESPHome
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/model.py
Labels: minor

#830 Add wake_word_phrase to VoiceAssistant request
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/client.py
  aioesphomeapi/model.py
  tests/test_client.py
Labels: breaking-change
