Repository esphome/aioesphomeapi, pull requests merged in 2025-07, with the labels that each got.

#1237 Add device_id field to all StateResponse messages for multi-device entity tracking
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/model.py
  tests/test_model.py
Labels: minor

#1248 Drop protobuf 5 support
  Dockerfile
  requirements/base.txt
Labels: major

#1092 media_player add off on capability
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/model.py
Labels: waiting-for-esphome

#1291 Add support for efficient Bluetooth UUID handling
  aioesphomeapi/api.proto
  aioesphomeapi/api_options.proto
  aioesphomeapi/api_options_pb2.py
  aioesphomeapi/api_pb2.py
  aioesphomeapi/connection.py
  aioesphomeapi/model.py
  tests/test_model.py
Labels: minor
