Repository esphome/aioesphomeapi, pull requests merged in 2025-04, with the labels that each got.

#1149 Add check for unexpected MAC address for noise protocol
  aioesphomeapi/__init__.py
  aioesphomeapi/_frame_helper/noise.pxd
  aioesphomeapi/_frame_helper/noise.py
  aioesphomeapi/client.py
  aioesphomeapi/connection.pxd
  aioesphomeapi/connection.py
  aioesphomeapi/core.py
  tests/benchmarks/test_noise.py
  tests/common.py
  tests/test__frame_helper.py
Labels: minor

#1156 Replace get_event_loop with get_running_loop
  aioesphomeapi/_frame_helper/base.py
  aioesphomeapi/client_base.py
  aioesphomeapi/connection.py
  aioesphomeapi/reconnect_logic.py
  pyproject.toml
  tests/benchmarks/test_bluetooth.py
  tests/benchmarks/test_noise.py
  tests/conftest.py
  tests/test__frame_helper.py
  tests/test_client.py
  tests/test_connection.py
  tests/test_host_resolver.py
  tests/test_log_runner.py
  tests/test_model.py
  tests/test_reconnect_logic.py
  tests/test_util.py
  tests/test_zeroconf.py
Labels: major

#1151 Add dynamic encryption key
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/client.py
  aioesphomeapi/core.py
  aioesphomeapi/model.py
  tests/test_client.py
  tests/test_model.py
Labels: minor, new-feature

#1170 Bluetooth proxy: get state and set mode
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/client.py
  aioesphomeapi/client_base.py
  aioesphomeapi/core.py
  aioesphomeapi/model.py
  tests/test_client.py
  tests/test_model.py
Labels: minor, new-feature
