Repository esphome/aioesphomeapi, pull requests merged in 2025-05, with the labels that each got.

#1181 Fast nonce implementation for encryption
  aioesphomeapi/_frame_helper/noise_encryption.pxd
  aioesphomeapi/_frame_helper/noise_encryption.py
  aioesphomeapi/_frame_helper/pack.pxd
  aioesphomeapi/_frame_helper/pack.pyx
  setup.py
Labels: minor

#1187 Synchronise api.proto between repos
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/client.py
  aioesphomeapi/model.py
  tests/test_client.py
  tests/test_model.py
Labels: major, breaking-change

#1190 Fix old light enum value
  aioesphomeapi/api.proto
  aioesphomeapi/api_pb2.py
  aioesphomeapi/model.py
Labels: bugfix

#1195 Fix race condition with internal message handlers registration
  aioesphomeapi/connection.py
  tests/test_connection.py
Labels: bugfix
